* {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
a,
body,
input,
input:focus,
select,
select:focus,
textarea,
textarea:focus {
  appearance: none;
  outline: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0%);
}
input[type='number'] {
  appearance: textfield;
}
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  appearance: none;
}
body {
  font-family:
    -apple-system, BlinkMacSystemFont, 'PingFang SC', 'Helvetica Neue', STHeiti, 'Microsoft Yahei', Tahoma, Simsun, sans-serif;
  font-size: 14px;
  line-height: 1.414;
  color: #333;
  background-color: #f5f5f5;
}
html,
body,
#app {
  width: 100%;
  height: 100%;
}
#nprogress .bar {
  background-color: var(--el-color-primary) !important;
}
.el-drawer {
  .el-drawer__header {
    padding: 14px 20px;
    margin-bottom: 0;
    border-bottom: 1px solid var(--el-border-color-lighter);
  }
  .el-drawer__title {
    color: var(--el-text-color-primary);
  }
}
.el-dialog__header {
  margin-bottom: var(--el-dialog-padding-primary);
  border-bottom: 1px solid var(--el-border-color-lighter);
}
.el-dialog__footer {
  margin-top: var(--el-dialog-padding-primary);
  text-align: center;
  border-top: 1px solid var(--el-border-color-lighter);
}
.el-avatar img {
  width: 100%;
}
.table-order-input {
  display: block;
  width: 100%;
  height: 24px;
  text-align: center;
  border: 1px solid #ebeef5;
  &:focus {
    border-color: var(--el-color-primary);
  }
}
.tree-border {
  border: 1px solid #e5e6e7;
  border-radius: 4px;
}
.app-container {
  box-sizing: border-box;
  padding: 12px;
}
.app-view {
  padding: 14px;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 4px;
  &__title {
    display: flex;
    margin-bottom: 10px;
    h3 {
      font-size: 22px;
      font-weight: normal;
    }
    .el-button {
      margin-left: 10px;
    }
  }
  &__content {
    padding: 20px 15px;
    border: 1px solid #ddd;
  }
}
