.app-nav-left,
.app-nav-leftop {
  .app-sidebar {
    background-color: var(--ef-menu-bg-color);
  }
}
.app-nav-left {
  .app-header {
    background-color: #fff;
  }
}
.app-nav-leftop,
.app-nav-top {
  .app-header {
    background-color: var(--ef-menu-bg-color);
    .sidebar-btn {
      color: var(--ef-menu-text-color);
    }
    .right-box {
      .right-menu-item {
        color: var(--ef-menu-text-color);
      }
    }
  }
}
.app-nav-top {
  &.app-wrapper {
    padding-left: 0;
    .app-main-copyright,
    .app-header-box {
      width: 100%;
    }
  }
}
