.app-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-left: var(--ef-layout-sidebar-width);
  transition: padding-left 0.28s;
}

.el-menu {
  .svg-icon {
    margin-right: 8px;
    font-size: 18px;
  }
}
.el-menu .el-menu-item,
.el-menu .el-submenu__title {
  color: var(--ef-menu-text-color)!important;
  &:hover {
    background-color: var(--ef-menu-bg-hover-color)!important;
  }
}
.el-menu .el-menu-item:focus {
  background-color: transparent!important;
}
.el-menu .el-menu-item.is-active,
.el-menu--horizontal .el-menu-item:not(.is-disabled):focus,
.el-menu--horizontal .el-menu-item:not(.is-disabled):hover,
.el-menu--horizontal .el-submenu .el-submenu__title:hover,
.el-menu--horizontal .el-submenu.is-active .el-submenu__title {
  color: var(--ef-theme-color)!important;
}
.el-menu,
.el-menu--horizontal .el-menu .el-menu-item,
.el-menu--horizontal .el-menu .el-submenu__title {
  background: var(--ef-menu-bg-color)!important;
}

.app-sidebar {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: var(--ef-layout-sidebar-width);
  height: 100%;
  box-shadow: 2px 0 6px rgba(0,21,41,.35);
  transition: width 0.28s;

  .logo {
    box-sizing: border-box;
    width: 100%;
    height: var(--ef-layout-header-height);
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ddd;
    text-transform: uppercase;
    dt {
      font-size: 16px;
      display: none;
    }
    dd {
      font-size: 22px;
    }
  }

  .el-scrollbar {
    height: calc(100% - var(--ef-layout-header-height));
    &__wrap {
      overflow-x: hidden;
    }
  }

  &.nologo {
    .logo {
      display: none;
    }
    .el-scrollbar {
      height: 100%;
    }
  }

  .el-menu-item, .el-submenu__title {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
  }

  .el-menu {
    border-right: none;
    .el-submenu .el-menu-item,
    .el-submenu .el-submenu>.el-submenu__title {
      background-color: var(--ef-submenu-bg-color)!important;
      &:hover {
        background-color: var(--ef-submenu-hover-color)!important;
      }
    }
    .el-submenu__title i {
      color: var(--ef-menu-text-color);
    }
    .is-active>.el-submenu__title,
    .is-active>.el-submenu__title i {
      color: var(--ef-submenu-text-active-color)!important;
    }
  }

  .el-menu--collapse {
    .el-menu-item,
    .el-submenu >.el-submenu__title {
      &>span {
        display: none;
      }
      .el-submenu__icon-arrow {
        display: none;
      }
    }
    .is-active>.el-submenu__title {
      color: var(--ef-theme-color)!important;
    }
    .svg-icon {
      margin: 0;
    }
  }
}

.app-header {
  width: 100%;
  height: var(--ef-layout-header-height);
  box-sizing: border-box;
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
  padding: 0 15px;

  .logo {
    margin-right: 20px;
    cursor: pointer;
    user-select: none;
    color: #ddd;
    text-transform: uppercase;
    dt {
      display: none;
    }
    dd {
      font-size: 22px;
    }
  }

  .sidebar-btn {
    margin-right: 20px;
    font-size: 24px;
    cursor: pointer;
  }

  .el-menu--horizontal {
    border-bottom: none!important;
    display: flex;
    .el-menu-item,
    .el-submenu__title {
      padding: 0 10px;
      height: 58px!important;
      line-height: 58px!important;
    }
    .el-menu-item.is-active,
    .el-submenu.is-active .el-submenu__title {
      border-bottom-color: transparent!important;
      background-color: var(--ef-submenu-bg-color)!important;
    }
    .el-submenu__icon-arrow {
      display: none;
    }
  }

  .right-box {
    margin-left: auto;
    display: flex;
    align-items: center;

    .right-menu-item {
      margin-right: 10px;
      padding: 0 8px;
      font-size: 18px;
      color: #666;
      cursor: pointer;
    }

    .avatar-container {
      .avatar-wrapper {
        position: relative;
        .user-avatar {
          width: 42px;
          height: 42px;
          border-radius: 10px;
        }
        .el-icon-caret-bottom {
          position: absolute;
          right: -20px;
          top: 25px;
          font-size: 12px;
        }
      }
    }
  }
}

.app-main {
  position: relative;
  box-sizing: border-box;
}
.app-main-view {
  overflow-x: hidden;
  min-height: calc(100vh - var(--ef-layout-header-height) - var(--ef-layout-copyright-height));
}
.app-main-copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--ef-layout-copyright-height);
  background: #ffffff;
  border-top: 1px solid #e4e7ed;
  box-sizing: border-box;
  box-shadow: 0 1px 4px 0 rgba(193, 193, 193, 0.50);
  color: #999;
  a {
    color: #999;
  }
  a:hover {
    color: #333;
  }
}

.app-has-headerTab {
  .app-main-view {
    min-height: calc(100vh - var(--ef-layout-header-height) - var(--ef-layout-tabbar-height) - var(--ef-layout-copyright-height));
  }
}

.app-header-fixed {
  .app-main {
    height: 100%;
    padding-top: var(--ef-layout-header-height);
    padding-bottom: var(--ef-layout-copyright-height);
  }
  .app-main-view {
    height: 100%;
    overflow-y: auto;
  }
  .app-main-copyright, .app-header-box {
    position: fixed;
    z-index: 9;
    width: calc(100% - var(--ef-layout-sidebar-width));
    transition: width 0.28s;
  }
  .app-main-copyright {
    bottom: 0;
  }
  .app-header-box {
    top: 0;
  }
  &.app-has-headerTab {
    .app-main {
      padding-top: calc(var(--ef-layout-header-height) + var(--ef-layout-tabbar-height));
    }
  }
}
.app-sidebar-collapse {
  padding-left: var(--ef-layout-sidebar-collapse-width);

  .app-sidebar {
    width: var(--ef-layout-sidebar-collapse-width);

    .logo {
      dd {
        display: none;
      }
      dt {
        display: block;
      }
    }
  }

  &.app-header-fixed {
    .app-main-copyright, .app-header-box {
      width: calc(100% - var(--ef-layout-sidebar-collapse-width));
    }
  }
}

.app-tabbar {
  height: var(--ef-layout-tabbar-height);
  background-color: #fff;
  box-shadow: 0 1px 4px 0 rgba(193, 193, 193, 0.50);

  &-inner {
    height: 100%;
    display: flex;
    justify-content: space-between;
  }

  &-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: var(--ef-layout-tabbar-height);
    height: 100%;
    font-size: 20px;
    color: #666;
    cursor: pointer;

    &:hover {
      background-color: #f5f5f5;
    }

    &.gray {
      color: #bbb;
      cursor: not-allowed;

      &:hover {
        background-color: initial;
      }
    }
  }

  &-tool {
    display: flex;
    align-items: center;
    .app-tabbar-icon {
      border-left: 1px solid #f2f2f2;
    }
  }

  &-main {
    flex: 1;
    position: relative;
    height: 100%;
    border-left: 1px solid #f2f2f2;
    border-right: 1px solid #f2f2f2;
    white-space: nowrap;
    overflow: hidden;
  }
  &-content {
    position: absolute;
    transition: all .3s ease;
    display: flex;
  }

  &-item {
    position: relative;
    margin-top: 2px;
    color: #555;
    display: flex;
    align-items: center;

    $realHeight: calc(var(--ef-layout-tabbar-height) - 2px);
    $close-icon-size: 14px;

    &::before, &::after {
      content: '';
      width: 14px;
      height: $realHeight;
    }

    .item-inner {
      display: flex;
      align-items: center;
      justify-content: center;
      height: $realHeight;
      padding: 0 calc($close-icon-size / 2);
      transition: padding 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
    .icon-close {
      margin-left: 4px;
      width: 0;
      transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      transform-origin: center center;
      overflow: hidden;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      height: $close-icon-size;
      border-radius: 50%;
      font-size: 12px;
      &:hover {
        background-color: #bbb;
        color: #fff;
      }
    }

    &:hover, &.cur {
      .item-inner:has(.icon-close) {
        padding: 0;
      }
      .icon-close {
        width: $close-icon-size;
      }
    }
    &.cur {
      background-color: #fff;
      color: #333;
      .item-inner {
        background: url('../images/tab-bg-cur.png') repeat-x;
      }
      &::before {
        width: 24px;
        background: url('../images/tab-bg-cur-left.png') no-repeat;
        background-size: cover;
      }
      &::after {
        width: 24px;
        background: url('../images/tab-bg-cur-right.png') no-repeat;
        background-size: cover;
      }
    }
  }
}

.main-maximize {
  .app-sidebar,
  .app-header-box,
  .app-main-copyright {
    display: none!important;
  }
  .app-wrapper {
    padding: 0!important;
  }
  .app-main {
    padding: 0!important;
  }
}
